.twt-tweet .entry-content{
    clear:both;
}
.twt-tweet{
	clear:left;
}
.twt-tweet .photo{
    margin-top: 0;
    border-radius: 8px;
}
.twt-tweet time.timeago{
    color: grey;
    font-size: 75%;
}
.twt-tweet .entry-title{
    margin-bottom: 0;
    font-size: 15px;
    line-height: 20px;
}
.twt-tweet .vcard{
    padding-left: 45px;
    padding-bottom: 10px;
}
.portletTwitterMultiStream .portletItem{
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    border: 1px solid #ddd;
    border-top-color: #EEE;
    border-bottom-color: #BBB;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)!important;
          -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15)!important;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)!important;
}
